# Business Questions

1. How many houses are available for purchase?

2. How many attributes do houses have? 

3. What are de attributes?

4. What is the most expensive house in the portifolio?

5. Which house has the most rooms?

# IMPORTS

In [2]:
import numpy as np
import pandas as pd

# LOADING DATA

In [3]:
data = pd.read_csv('datasets/kc_house_data.csv')

# ANSWERING THE QUESTIONS

##  How many houses are available for purchase?
R: 21436 houses available.

In [6]:
len(data['id'].drop_duplicates())

21436

## How many attributes do houses have? 
R: 21 attributes available for each house.

In [8]:
data.shape

(21613, 21)

## What are de attributes?
R: The attributes available are: id, date, price, bedrooms, bathrooms, sqft_living, sqft_lot, floors, waterfront, view, condition, grade, sqft_above, sqft_basement, yr_built, yr_renovated, zipcode, lat, long, sqft_living15, sqft_lot15

In [9]:
data.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

## What is the most expensive house in the portifolio?
R: The most expensive house in the portifolio is 6762700020 with the price of $7700000.0

In [11]:
data[['id', 'price']].sort_values('price', ascending=False).head()

              id      price
7252  6762700020  7700000.0
3914  9808700762  7062500.0
9254  9208900037  6885000.0
4411  2470100110  5570000.0
1448  8907500070  5350000.0

## Which house has the most rooms?
R: The house with the highest number of rooms is 2402100895 which has 33 rooms.

In [13]:
data[['id', 'bedrooms']].sort_values('bedrooms', ascending=False).head(6)

               id  bedrooms
15870  2402100895        33
8757   1773100755        11
15161  5566100170        10
13314   627300145        10
19254  8812401450        10
8546    424049043         9