# Business Questions

1. How many houses are available for purchase?

2. How many attributes do houses have? 

3. What are de attributes?

4. What is the most expensive house in the portifolio?

5. Which house has the most rooms?

6. What is the total sum of bedrooms in the dataset?

7. How many houses have two bathrooms?

8. What is the average price of all houses in the dataset?

9. What is the average price of houses with two bathroom

10. What is the minimum price among 3-bedroom homes?

11. How many homes have more than 300 square meters in the living room?

12. How many houses have more than 2 floors?

13. How many houses have a view of the sea?

14. Of the houses with a view to the sea, how many have 3 bedrooms?

15. Of the houses with more than 300 square meters of living room, how many have 2 bathrooms?

# IMPORTS

In [2]:
import numpy as np
import pandas as pd

# LOADING DATA

In [3]:
data = pd.read_csv('datasets/kc_house_data.csv')

# ANSWERING THE QUESTIONS

##  How many houses are available for purchase?
R: 21436 houses available.

In [6]:
len(data['id'].drop_duplicates())

21436

## How many attributes do houses have? 
R: 21 attributes available for each house.

In [8]:
data.shape

(21613, 21)

## What are de attributes?
R: The attributes available are: id, date, price, bedrooms, bathrooms, sqft_living, sqft_lot, floors, waterfront, view, condition, grade, sqft_above, sqft_basement, yr_built, yr_renovated, zipcode, lat, long, sqft_living15, sqft_lot15

In [9]:
data.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

## What is the most expensive house in the portifolio?
R: The most expensive house in the portifolio is 6762700020 with the price of $7700000.0

In [11]:
data[['id', 'price']].sort_values('price', ascending=False).head()

              id      price
7252  6762700020  7700000.0
3914  9808700762  7062500.0
9254  9208900037  6885000.0
4411  2470100110  5570000.0
1448  8907500070  5350000.0

## Which house has the most rooms?
R: The house with the highest number of rooms is 2402100895 which has 33 rooms.

In [13]:
data[['id', 'bedrooms']].sort_values('bedrooms', ascending=False).head(6)

               id  bedrooms
15870  2402100895        33
8757   1773100755        11
15161  5566100170        10
13314   627300145        10
19254  8812401450        10
8546    424049043         9

## What is the total sum of bedrooms in the dataset?
R: The sum of bedroomns in the dataset is 72854

In [14]:
data['bedrooms'].sum()

72854

## How many houses have two bathrooms?
R: 1930 houses have two bathrooms

In [22]:
data[data['bathrooms'] == 2].shape

(1930, 21)

## What is the average price of all houses in the dataset?
R: The average price of all houses is $540088

In [24]:
round(data['price'].mean(), 2)

540088.14

## What is the average price of houses with two bathroom
R: The average price of houses with two bathrooms is $457889.72

In [27]:
round(data.loc[data['bathrooms'] == 2, 'price'].mean(), 2)

457889.72

## What is the minimum price among 3-bedroom homes?
R: The minimum price of houses with three bedrooms is $82000

In [29]:
data.loc[data['bedrooms'] == 3, 'price'].min()

82000.0

## How many homes have more than 300 square meters in the living room?
R: 21612 houses have more than 300 square meters

In [31]:
len(data.loc[data['sqft_living'] > 300, 'id'])

21612

## How many houses have more than 2 floors?
R: 782 houses have more than 2 floors

In [32]:
data.loc[data['floors'] > 2, :].shape

(782, 21)

## How many houses have a view of the sea?
R: 163 houses have view of the sea

In [34]:
data.loc[data['waterfront'] == 1, :].shape

(163, 21)

## Of the houses with a view to the sea, how many have 3 bedrooms?
R: 64 houses have view of the sea and have 3 bedrooms

In [35]:
data.loc[(data['waterfront'] == 1) & (data['bedrooms'] == 3), :].shape

(64, 21)

##  Of the houses with more than 300 square meters of living room, how many have 2 bathrooms?
R: 1930 houses have more than 300 square meters of living room and 2 bathrooms

In [37]:
data.loc[(data['sqft_living'] > 300) & (data['bathrooms'] == 2), :].shape

(1930, 21)